<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>addBook</title>
</head>
<body>
    <%include header.ejs %>
    <form action="/doAddBook" method="get">
        <div>
            <label for="name">name</label>
            <input type="text" id="name" name="name"/>
        </div>
        <div>
            <label for="author">author</label>
            <input type="text" id="author" name="author"/>
        </div>
        <div>
            <label for="price">price</label>
            <input type="text" id="price" name="price"/>
        </div>
        <div>
            <label for="type">type</label>
            <input type="text" id="type" name="type"/>
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>