<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>add</title>
</head>
<body>
<%include header.ejs %>
<h1>Edit</h1>
<form action="/doEdit" method="get">
    <div>
        <label for="sid">ID</label>
        <input type="text" id="sid" name="sid" value="<%=sid%>" readonly="true"/>
    </div>
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" value="<%=name%>" required/>
    </div>
    <div>
        <label for="author">Age</label>
        <input type="text" id="age" name="age" value="<%=age%>" required/>
    </div>
    <div>
        <label>Sex</label>
        <input type="radio" id="man" name="Courses" <%if(sex == "man"){%> checked <%}%> value="man"/>
        <label for="man">Man</label>
        <input type="radio" id="woman" name="Courses" <%if(sex == "woman"){%> checked <%}%> value="woman"/>
        <label for="woman">Woman</label>
    </div>
    <button type="submit">Submit</button>
</form>
</body>
</html>